Durchmesserzuwachs pro Jahr.pdf
ETS Stufen pro Jahr.pdf
ETS-Stufe zu Alter_boxplot.pdf
ETS-Stufe zu Alter_jitter.pdf
ETS-Stufenveraenderung pro Jahr.pdf
KonkAlleEschen.csv
Konkurrenzc66.csv
Mischung und ETS labeled.pdf
Mischung und ETS.pdf
Mortalitaet.pdf
Nekrose zu ETS-Stufe.pdf
Veraenderungen der Nekrosen.pdf
Vergleich mit-ohne Stammfußnekrose_ETS-Stufe.pdf
Verteilung der Nekrosengroessen zu den ETS-Stufen.pdf
Zusammenhang ETS-Stufe und Konkurrenz.pdf
Zusammenhang ETS-Stufe und Zuwachs pro Baum.pdf
Vergleich mit-ohne Stammfussnekrose_ETS-Stufe.pdf
Kaplan-Meier_zeitliche-Abdeckung.pdf
Kaplan-Meier_density.pdf
Kaplan-Meier_manuell.pdf
Kaplan-Meier_Age.pdf
Kaplan-Meier_Age_censored.pdf
Kaplan-Meier_ObservTime.pdf
Kaplan-Meier_ObservTime_censored.pdf
